/* Beautifying */
.employee-creation-page {
    background-color: #CBBFBB ;
}


/* Popup Styling */
.popup-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 1.75%;
    width: 100%;
    max-width: 640px;
    background-color: #493843;
}

.popup-labels {
    color: #CBBFBB;

    margin: 5px;
}

.popup-inputs {
    background-color: #CBBFBB;
    color: #493843;
    width: 35%;
    height: 15%;
    font-family: Arial;

    margin: 5px;
}
::-ms-reveal { /* Changes the color of the reveal password button */
    filter: invert(100%);
  }

.popup-titles {
    position: relative; /* Position the element relative to its container */  
    left: 50%; /* Move the element horizontally by 50% of its container's width */
    transform: translateX(-50%); /* Adjust the position to center horizontally */
    color: #CBBFBB;
    font-family: Arial;
    font-weight: bold;
    font-size: 160%;
    text-decoration: underline;
    margin: 0px;
}

.permission-title{
    position: relative; /* Position the element relative to its container */  
    left: 50%; /* Move the element horizontally by 50% of its container's width */
    transform: translateX(-50%); /* Adjust the position to center horizontally */
    color: #CBBFBB;
    font-family: Arial;
    font-weight: bold;
    font-size: 100%;
    
    margin: 0px;
}

.popup-buttons {
    color: #CBBFBB;
    background-color: #493843;
    border-color: #CBBFBB;
    border-width: medium;


    margin: 5px;
}

.close-buttons {
    color: #CBBFBB;
    background-color: #493843;
    border-color: #CBBFBB;
    border-width: medium;

    position: absolute;
    top: 0;
    right: 0;


    margin: 5px;

}


/* Needed */
/* .employee-creation-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    padding: 5px;
} */

.permission-organizer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start; 
    text-align: center;
    padding: 5px;
}

.permission-item {
    flex-basis: calc(50% - 10px); 
    padding: 5px;
    box-sizing: border-box;
}
