.new-component-button {
    background-color: #493843;
    color: #CBBFBB;
    border-color: #CBBFBB;
}

.edit-button {
    background-color: #EABDA8;
    color: black;
    border-color: black;
    position: fixed;
    left: 20.3%;
}

.layout-container {
    width: 90%;
    min-height: 82.5%;
    border: 0.5em solid #493843;
    position: relative;
    background-color: #CBBFBB;
}

.table-info{
    position: fixed;
    left: 85%;
    top: 1%;
    padding: 0.5em;
    outline: 0.3em solid #493843;
}

.bottom-buttons {
    position: fixed;
    left: 9.5%;
    top: 2%;
    padding: 0.5em;
}

.checkup-button {
    background-color: rgb(140, 202, 140);
}

.occupied-button {
    background-color: #493843;
    color: #CBBFBB;
}

.table-info-object {
    padding-right: 0.5em;
    font-size: 0.9vw;
    color: #493843;
}

.view-layout-container {
    width: 90%;
    height: 95%;
    border: 0.5em solid #493843;
    position: relative;
    background-color: #CBBFBB;
}

.home-view-layout-container {
    margin-top: 1.25vh;
    width: 90%;
    height: 95%;
    border: 0.5em solid #493843;
    position: relative;
    background-color: #CBBFBB;
}

.save-button {
    background-color: rgb(140, 202, 140);
    color: black;
}


.set-current-layout{
    background-color: #9da5b1;
    color: black;
}